---
---
<section class="bg-gray-200">
    <div class="container mx-auto">
        <p class="max-w-prose mx-auto text-center">
            Libéré des carcans de la presse traditionnelle, le collectif Journalistes Solidaires est totalement transparent sur la méthodologie de ses enquêtes. Pour cela, nous avons décidé d’ouvrir entièrement notre rédaction. Découvrez les sujets sur lesquels nous travaillons actuellement, participez à nos enquêtes, recherchez l’information factuelle en collaboration avec notre rédaction.
        </p>
    </div>
</section>
